body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Rokkitt', serif;
}

a {
  color: #00B7FF;
}

.rokkitt{
	font-family: 'Rokkitt', serif;
}

.play{
	font-family: 'Play', sans-serif;
}

.navbar-initial{
	height:95px;
	background-color:#E6974C;
	border-bottom:none;
	/*opacity:.5;*/
	color:white;
}

/*.navbar-after{
	background-color: white;
	color:#E6974C;
	opacity:.5;
}*/


